<div *ngFor="let job of jobOffers" class="mb-4 p-4 border-2 rounded rounded-xl shadow-xl bg-gray-200/50">
  <div class="flex flex-row-reverse justify-between ">
    <div class="flex items-start justify-end">
      <button class="px-4 py-2 text-xl font-medium hover:bg-gray-200 hover:rounded-xl" (click)="ignoreJob(job)">X</button>
    </div>

    <div>
      <div class="flex items-center">
        <div class="rounded-full overflow-hidden mr-4">
          <img [src]="companies[job.recruiter].avatar | imagePipe" alt="Logo" class="w-16 h-16 object-cover" >    
        </div>

        <div class="flex-1">
          <h3 class="text-lg font-bold">{{ job.title }}</h3>
          <p class="text-gray-600 mb-2">Entreprise: {{ companies[job.recruiter].name }} </p>
          <p>Emplacement: </p>
          <p>Description: {{ job.description }}</p>
          <div class="pt-5">
            <app-button (onClick)="togglePostuler(job._id)">Postuler</app-button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="apply-section mt-4 p-4 border-t" [ngClass]="selectedJobId == job._id ? '' : 'hidden' ">
    <h5 class="text-lg font-semibold mb-2">Postuler à cette offre</h5>
    <form (ngSubmit)="applyToJob(job._id)" class="space-y-4">
      <div class="mb-3">
        <textarea [disabled]="appliedJobs[job._id]" class="form-control w-full px-3 py-2 border rounded-md"
                  [(ngModel)]="comments[job._id]" [ngModelOptions]="{standalone: true}"
                  name="comment{{job._id}}" rows="4"
                  placeholder="Ajoutez votre commentaire ou lettre de motivation ici..." required>
        </textarea>
      </div>

      <div class="mb-3">
        <input 
        *ngIf="!selectedCVFileNames[job._id]"
        type="file" (change)="onFileSelected($event, job._id)" 
              name="cv{{job._id}}" 
              [disabled]="appliedJobs[job._id]" 
              accept=".pdf,.doc,.docx" />

        <div *ngIf="selectedCVFileNames[job._id]">
          Fichier CV: {{ selectedCVFileNames[job._id] }}
        </div>
      </div>

      <button type="submit"
      [class.bg-blue-500]="!appliedJobs[job._id]"
      [class.bg-gray-400]="appliedJobs[job._id]"
      [disabled]="appliedJobs[job._id]"
      class="w-full text-white font-bold py-2 px-4 rounded">
      {{ appliedJobs[job._id] ? 'Déjà postulé' : 'Postuler' }}
      </button>
    </form>
  </div>
</div>