<footer class="flex justify-between px-64 bg-black/75 bottom-0">
  <div class="max-w-40 text-center">
    <img src="assets/Profilix_dbg.png" alt="Profilix Logo" />
  </div>

  <div class="flex gap-10 pt-8 text-white">
    <div>
      <h5 class="text-lg text-gray-400 font-semibold mb-1">Général</h5>
      <ul class="text-sm leading-loose [&>li]:pl-1">
        <li><app-underlined-link [routerLink]="['contact']">Contact</app-underlined-link></li>
      </ul>
    </div>
  </div>
</footer>
  